/* header */
header{
    display: flex;
    padding: .10rem 0;
}
header>#back{
    width: .10rem;
    height: .10rem;
    margin-top: .05rem;
    margin-left: .20rem;
    border-top: .02rem solid #666666;
    border-left: .02rem solid #666666;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
header>p{
    flex-grow: 1;
    padding: .05rem .10rem;
    font-size: .14rem;
    text-align: center;
    line-height: 1.0;
    color: #333333;
}
header>#right{
    display: block;
    width: .47rem;
    margin: .05rem;
    font-size: .06rem;
    text-align: center;
    line-height: 1.0;
    color: #333333;
}
/* background */
#background{
    height: 1.65rem;
    background:linear-gradient(90deg,rgba(239,28,0,1),rgba(255,60,0,1));
}
#background>p{
    padding-top: .25rem;
    font-size: .12rem;
    color: #ffffff;
    position: relative;
}
#background>p>span:nth-child(1){
    margin-left: .10rem;
}
#background>p>span:nth-child(1)::before{
    display: inline-block;
    width: .52rem;
    content: '1000';
    font-size: .19rem;
    line-height: 1.0;
}
#background>p>span:nth-child(2){
    margin-right: .10rem;
    position: absolute;
    right: 0;
}
#background>span{
    margin-left: .10rem;
    font-size: .12rem;
    text-align: center;
    line-height: 1.0;
    color: #ffffff;
}

/* panel */
#panel{
    height: 1.15rem; 
    text-align: center;
}
#panel>button{
    width:1.50rem;
    height:.40rem;
    margin-top: .60rem;
    margin-bottom: .10rem;
    border-radius:20px;
    font-size: .12rem;
    text-align: center;
    line-height: .40rem;
    color: #ffffff;
    background:rgba(239,28,0,1);
}
#panel>#record{
    height: 1.25rem;
    padding: 0 .11rem;
    text-align: initial;
    box-shadow: 0 .01rem .10rem 0 rgba(8,1,3,.2);
    background-color: #FFFFFF;    
    position: absolute;
    top: 1.20rem;
    left: .10rem;
    right: .10rem;
}
#panel>#record>p{
    height: 55px;
    border-bottom: 1px dashed #DDDDDD;
    position: relative;
}
#panel>#record>p>span:nth-child(1){
    display: inline-block;
    margin-top: .21rem; 
    font-size: .14rem;
    color: #333333;
}
#panel>#record>p>span:nth-child(2){
    float: right;
    margin-top: .22rem;
    margin-right: .70rem; 
    font-size: .12rem;
    color: #333333;
}
#warning{
    display: block;
    width:.50rem;
    height:.30rem;
    border-radius: .15rem;
    background:#999999;
    position: absolute;
    right: .10rem;
    top: .15rem;
}
#warning>#inner{
    display: block;
    width: .28rem;
    height: .28rem;
    border-radius: 50%;
    content: '';
    background-color: #FFFFFF;
    position: absolute;
    right: unset;
    left: 0.01rem;
    top: .01rem;
}
#warning.default{
    background-color: rgba(239,28,0,1);
}
#warning.default>#inner{
    background-color: #FFFFFF;
    right: 0.01rem;
    left: unset;
}
#history{
    display: flex;
}
#history>li{
    flex: 1;
    margin-top: .10rem;
    font-size: .12rem;
    text-align: center;
    color: #999999;
}
#history>li>span{
    display: block;
    width: .30rem;
    margin: .05rem auto;
    border-radius: 50%;
    line-height: .30rem;
    text-align: center;
    color: #999999;
    background-color:transparent; 
}
#history>li.done>span{
    color: #FFFFFF;
    background-color:#999999; 
}
#history>li.active>p{
    color: #F12100;
}
#history>li.active>span{
    color: #FFFFFF;
    background-color: #F12100;
}
#history>li>span#special{
    width: .38rem;
    line-height: .30rem;
    text-align: center;
    color: #999999;
    background-color:transparent; 
}
#panel::after{
    display: block;
    width: 100%;
    height: .06rem;
    content: '';
    background-color: #969696;
}
/* exchange */
#exchange>p{
    padding-left: .10rem;
    font-size: .14rem;
    line-height: .45rem;

}
#today-hot{
    display: flex;
    width: 3.55rem;
    height: 1.20rem;
    margin: 0 .10rem;
    position: relative;
}
#today-hot::after{
    display: block;
    width: 200%;
    height: 200%;
    border: 1px solid #333333;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 199;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}
#today-hot>img{
    width: 1.00rem;
    height: 1.00rem;
    margin: .10rem;
    background-color: rgba(0, 0, 255,.2);
}
#today-hot>#info{
    flex-grow: 1;
    margin-top: .20rem;
}
#info>p:nth-child(1){
    font-size: .12rem;
    color: #333333;
}
#info>p:nth-child(2){
    margin-top: .09rem;
    font-size: .13rem;
    color: #333333;
}
#info>p:nth-child(2)::after{
    display: inline-block;
    content: '积分';
    font-size: .12rem;
    color: #333333;
}
#info>p:nth-child(3){
    margin-top: .10rem;
    font-size: .12rem;
    text-decoration: line-through;
    color: #999999;
}
#today-hot>button{
    width: .80rem;
    height: .25rem;
    border-radius: .13rem;
    font-size: .10rem;
    text-align: center;
    line-height: .25rem;
    color: #FFFFFF;
    background-color: #F12100;
    position: absolute;
    bottom: .20rem;
    right: .10rem;
    z-index: 101;
}
#today-hot>button.haven{
    background-color: #999999;
}
.hot-list{
    display: flex;
    margin: .10rem;
}
.hot-list>li{
    flex: 1;
}
.hot-list>li>img{
    width: 1.15rem;
    height: 1.15rem;
    margin: 0 .02rem;
}
.hot-list>li>p{
    padding-top:.08rem;
    padding-left:.02rem; 
}
.name{
    font-size: .11rem;
    line-height: 1.0;
    color: #333333;
}
.hot-list>li>p.score{
    font-size: .12rem;
    line-height: 1.0;
    color: #333333;
}
.hot-list>li>p.score::after{
    display: inline-block;
    content: '积分';
}
.hot-list>li>p.price{
    font-size: .10rem;
    line-height: 1.0;
    text-decoration: line-through;
    color: #999999;
}