*{
    margin: 0;
    padding: 0;
    user-select: none;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.clearifx::after{
    content: '';
    display: block;
    clear: both;
}

/* nav */
.nav{
    height: 32px;
    font-size: 12px;
    color: #fff;
    background-color: #a9180a;
}
.nav-wrapper{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    line-height: 32px;
    
}
.nav-main{
    float: left;
}
.nav-main>a{
    padding: 0 10px;
    color: #fff;

}
.nav-menu{
    float: right;
}
.nav-menu li{
    padding: 0 5px;
    float: left;
    position: relative;
}
.nav-menu-list>a{
    color: #fff;
}
.nav-menu-arrow{
    display: inline-block;
    width: 0;
    height: 0;
    border: 3px solid #bbb;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.nav-menu-list>i{
    float: left;
    line-height: 32px;
}
.nav-menu-special{
    position: relative;
}
.nav-menu-inner{
    display: none;
    width: 80px;
    padding: 0 5px;
    background-color: #fff;
    position: absolute;
    top: 32px;
    left: 0px;
    z-index: 10;
}
.nav-menu-inner>a{
    float: left;
    margin-left: -5px;
    padding-left: 5px;
    color: #bbb;  
}
/* 手机版 */
#phone{
    position: relative;
}
.nav-menu-list>#phone-qr{
    display: none;
    width: 175px;
    height: 227px;
    box-shadow: 0 0 5px #aaa;
    background-color: #fff;
    position: absolute;
    top: 26px;
    left: -48px;

}
#phone-qr>#img{
    overflow: hidden;
    width: 175px;
    height: 175px;
    margin: 5px 0 0 0;
    background: url('https://img.alicdn.com/tfs/TB1vJ0POwTqK1RjSZPhXXXfOFXa-175-215.png') 0 0 no-repeat;
}
#phone-qr>p{
    margin: 0 15px;
    line-height: 35px;
    text-indent: -99999;
    background: url('https://img.alicdn.com/tps/TB1sR93OFXXXXaAXXXXXXXXXXXX-145-30.png') center bottom no-repeat;
}
#phone-qr>p>span{
    opacity: 0;
}
#phone-qr>b{
    display: block;
    width: 0;
    height: 0;
    margin-left: -2.5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff  transparent;
    position: absolute;
    top: -10px;
    left: 50%;
}
/* 商家支持 */
#support>.nav-menu-inner{
    display: none;
    width:122px; 
    padding: 8px 10px;
    position: absolute;
    top: 32px;
    left: -74px;
}
#support ul{
    overflow: hidden;
    width: 122px;
    margin-top: -5px;
    color: #999;
}
#support ul>li{
    overflow: hidden;
    margin-right: -20px;
    padding: 5px 0;
    border-bottom:1px dotted #827777;
}
#support ul h3{
    font-size: 100%;
    font-weight: 700;
    color: #666;
}
#support ul a{
    display:inline-block;
    width: 48px;
    margin-right: 20px;
    line-height: 22px;
    font-size: 12px;
    color: #999;
}
/* 网站导航 */
#site-nav>.nav-menu-inner{
    overflow: hidden;
    display: block;
    width: 1198px;
    padding: 25px 0;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #eee;
    background-color: #fff;
    position: absolute;
    top: 32px;
    left: -1115px;
    z-index: 101;
}
#site-nav>.nav-menu-inner>li{
    float: left;
    display: block;
    width: 455px;
    height: 110px;
    padding-left: 30px;
    border-right: 1px solid #f5f5f5;
}
#site-nav li:last-child{
    width: auto;
    border-right: none;
}
#hot>h2,#market>h2,#help>h2{
    float: left;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 100;
    color: #ff5600;
}
#hot>h2>span,#market>h2>span,#help>h2>span{
    padding-left: 6px;
    font-size: 16px;
    font-weight: 100;
    color: #ff5600;
}
nav-menu-inner>#hot>.site-list::before{
    content: '';
    display: block;
    clear: both;
}

.site-list>li{
    overflow: hidden;
    float: left;
    width: 95px;
    padding: 6px 0;
}

/* hover */
.nav-menu-special:hover>.nav-menu-inner{
    display: block;
}
#support:hover>.nav-menu-inner{
    display: block;
}

.nav-menu-special:hover>i{
    color: #ff0036;
}
.nav-menu-special a:hover {
    text-decoration: underline;
    color: #ff0036;
}
.nav-menu-yellow:hover>a,.nav-menu-yellow:hover>.iconfont{
    color: #ffe013;
}
.nav-menu-special:hover{
    background-color: #fff;
}
.nav-menu-special:hover >a{
    text-decoration: underline;
    color: #ff0036;
}
.nav-menu-special:hover>.nav-menu-arrow{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.nav-menu-list:hover>#phone-qr{
    display: block;
    z-index: 101;
}
